.barra{
    background-color: salmon;
}

.boton-personalizado{
    background-color: #d185d1;
    border: burlywood;
    border-radius: 50 px;
    color: black;
    letter-spacing: 2 px;

}
.boton-personalizado:hover{
    background-color: #b06ab0;
    color: white;
    cursor: pointer;
}   

.tarjeta-productos{
    background-color: #6f42c1;
    color: white;
    border: 2px solid white;
    padding: 40px;
    text-align: center;
}