.caja-magica {
    width: 300px;
    height: 300px;
    background-color: rgb(173, 216, 230);
    color: rgb(0, 0, 0) ;
    frot-size: 3rem;
    text-align: center;
}

/* Media query */
/* Si la pantalla mide 600px o menos */
@media (max-width: 600px){
    .caja-magica{
        background-color: blue;
        width: 100%;
    }
}